In [1]:
import pandas as pd
import numpy as np
#https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side
from itertools import chain,cycle
from IPython.display import display, HTML, display_html
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))
display(HTML("<style>.prompt { display:none !important; }</style>"))

In [2]:
def dfDisplay(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [3]:
A = np.random.randn(100, 4)
B = np.random.randn(100, 4)
C = np.random.randn(100, 4)

dfA = pd.DataFrame(A)
dfB = pd.DataFrame(B)
dfC = pd.DataFrame(C)

dfDisplay(dfA.head(),dfB.head(),dfC.head(), titles=['dfA','dfB', 'dfC'])

,0,1,2,3
0,0.847015,0.656125,-0.812658,-0.381937
1,0.625108,0.191444,1.809260,-0.063007
2,1.505105,-0.818609,0.154308,-1.432719
3,1.434451,-0.347194,0.299843,1.378379
4,0.940896,-1.269360,-0.275221,0.514006
,0,1,2,3
0,0.243454,-0.078041,1.086729,0.407409
1,-1.164465,-0.862955,0.991415,-2.169388
2,1.201943,0.213220,-0.540527,0.162664
3,0.514257,0.329706,1.367872,-0.667002
4,-1.505443,0.433086,-0.301278,-1.679941
,0,1,2,3
0,-0.951052,-2.022716,-1.618080,1.639977
1,-0.768695,0.355357,0.622118,0.439803
2,0.491241,1.494079,0.102928,-1.533051
3,-0.415121,0.181451,0.308325,0.171080
4,0.208520,0.511773,-1.000351,0.452118