In [1]:
import pandas as pd
import numpy as np
#https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side
from itertools import chain,cycle
from IPython.display import display, HTML, display_html
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))
display(HTML("<style>.prompt { display:none !important; }</style>"))

In [2]:
def dfDisplay(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

<p style="font-size:18pt"> The aim is to show dataframes SIDE BY SIDE, which works on Jupyter Notebook. For some weird reason, they appear one on top of the other here on GitHub. </p>

In [3]:
A = np.random.randn(100, 4)
B = np.random.randn(100, 4)
C = np.random.randn(100, 4)

dfA = pd.DataFrame(A)
dfB = pd.DataFrame(B)
dfC = pd.DataFrame(C)

In [4]:
dfDisplay(dfA.head(),dfB.head(), dfC.head(), titles=['dfA','dfB', 'dfC'])

,0,1,2,3
0,0.008055,0.461046,1.174286,-0.641258
1,-0.600728,1.151883,0.180950,-0.540336
2,-0.831435,-0.629444,0.491841,0.450848
3,0.541387,1.440243,-1.503020,-0.405152
4,-0.048048,0.198740,-0.416326,-0.885931
,0,1,2,3
0,-0.630406,-0.942582,1.614310,-1.151294
1,-0.698666,1.511538,-1.646056,1.153130
2,0.350119,0.028060,-0.821743,1.593312
3,0.944676,0.224725,-0.108447,1.170910
4,0.606010,-0.661779,-1.768373,-0.508919
,0,1,2,3
0,-0.284120,0.307968,-0.185212,0.962891
1,-1.790801,1.010202,0.659416,0.978026
2,1.314885,1.346963,-0.029624,-0.250489
3,-0.339001,-1.134704,0.091677,-0.780849
4,0.513115,-0.842380,-0.815558,0.060046

In [5]:
#Display ALL rows
#dfDisplay(dfA,dfB, dfC, titles=['dfA','dfB', 'dfC'])

In [6]:
#Display 7 rows
pd.set_option('display.max_rows', 7)
dfA

           0         1         2         3
0   0.008055  0.461046  1.174286 -0.641258
1  -0.600728  1.151883  0.180950 -0.540336
2  -0.831435 -0.629444  0.491841  0.450848
..       ...       ...       ...       ...
97  0.058608  0.343331 -0.437455 -0.115982
98 -0.059100 -1.064998 -1.378204 -1.698346
99  0.835253  0.773259 -0.716110  1.506983

[100 rows x 4 columns]

In [7]:
#Display 7 rows
pd.set_option('display.min_rows', 7)
dfA

           0         1         2         3
0   0.008055  0.461046  1.174286 -0.641258
1  -0.600728  1.151883  0.180950 -0.540336
2  -0.831435 -0.629444  0.491841  0.450848
..       ...       ...       ...       ...
97  0.058608  0.343331 -0.437455 -0.115982
98 -0.059100 -1.064998 -1.378204 -1.698346
99  0.835253  0.773259 -0.716110  1.506983

[100 rows x 4 columns]

In [8]:
#Display ALL rows
#pd.set_option('display.max_rows', None)
#dfA

<p> Here two dataframes are going to be saved into two spreadsheet of one spreadsheet file</p>

In [9]:
from openpyxl import load_workbook

In [10]:
# path = r'spreadsheetFiles/spreadsheetFiles.xlsx' in case you are on Windows
path = 'spreadsheetFiles/spreadsheetFiles.xlsx'

writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
dfA.to_excel(writer, sheet_name = 'dfA random N1')
dfB.to_excel(writer, sheet_name = 'dfB random N1')
writer.save()
#writer.close()

<p> Here two further spreedsheets are going to be generated in the previously generated spreadsheet file </p>

In [11]:
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

dfA.to_excel(writer, sheet_name = 'dfA random N2')
dfB.to_excel(writer, sheet_name = 'dfB random N2')
writer.save()